:root{
    --primary-color1 : black;
    --secondary-color1: rgb(29, 29, 20); 
    --secondary-color2: rgb(41, 2, 1);
    --cancel-color1: rgb(218, 6, 6);
}


* {
  box-sizing: border-box;
  margin: 0;
  

  
  
}
body {
  position: relative;
  background-color: var(--secondary-color1);
  width: 100%;
  height: 100vh;
}

header h1{
    position: fixed;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--primary-color1);
    color: white;
}
#create-account{
    z-index: 8;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    
}
#create-or-login{
    
    position: relative;
    width: 400px;
    height: 500px;
    
    margin: 60px auto 0 auto;
    background-color: black; 
}
#account-container{
   display: none;
    position: relative;
    width: 400px;
   
    background-color: black;
    margin: 50px auto 0 auto;
}
#back-to-login, #close-account{
  position: fixed;
  
   
  
  color: white;
  font-size: 40px;
  padding: 0;
  
  background-color: black;
  border: 0;
}
#fill{
 background-color: white;
 width: 100%;
 height: 500px;
 
 color: white;
 background-color: black;
 padding: 40px 
}
#fill-login{
    background-color: white;
    width: 100%;
    height: 300px;
    
    color: white;
    background-color: black;
    padding: 40px 
}

#fill input:not(#input-submit), #fill-login input:not(#login-now){
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
}
#fill textarea{
    width: 100%;
}

input[type="submit"]{
    background-color: var(--secondary-color2);
    color: white;
    font-weight: bolder;
    display:block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
}
.login-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#login-account, #create-new-account{
  
    background-color: var(--secondary-color1);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    
}
#logging-in{
   
   position: fixed;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(162, 41, 41);
    margin-top: -30%;
    width: 400px;
}
#navbar {
  position: fixed;
  left: -154px; 
  z-index: 4;
  transition: 1s ease-in-out;
  
}
.move-navbar{
    translate: 154px;
}
#navbar ul{
    padding: 0;
}
#navbar ul li{
    width:100%;
    list-style: none;
    height: 40px
    

}
#navbar ul li .navbar-btn{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary-color1);
    color: white;
    font-weight: bolder;
}
#nav-btn{
    vertical-align: middle;
   width: 40px;
    margin-top: -20px;
    padding: 0;
     font-size: 28px;
   margin: 0;
  border-radius: 10px;  
}
main{
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 900px) minmax(2rem, 1fr) ;
}
.hide-product{
    display: none;
}

.product-container {
  background-color: blanchedalmond;
  width: 350px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  border-radius: 50px;

}
#products {
 grid-column: 2 / 3;
 columns: 400px;
 width: 100%;
 padding-top: 30px;
 
}

.detail {
  position: absolute;
  color: white;
  padding: 5px 10px;
  bottom: 0;
  width: 100%;
}
.detail div {
  margin: 21px 0 12px 0;
}

.name,
.price,
.description {
  background-color: black;
  padding: 10px 15px;
  border-radius: 30px;
}

.image-container {
  width: 350px;
  height: 400px;
  border-radius: 50px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.add {
  width: 100%;
  height: 45px;
  background-color:var(--secondary-color2) ;
  font-size: larger;
  border-radius: 30px;
  color: white;
}
.add:active{
    background-color: goldenrod;
}
.promo{
color: grey;
padding: 0 10px;
}
.center {
  text-align: center;
}
#hide-cart {
  display: none;
  z-index: 3;
  color: white;
  top: 0;
  right: 0;
  position: fixed;
  width: 150px;
  height: 40px;
  font-size: 20px;
   background-color: var(--secondary-color2);
   border-radius: 30px;
}

#view-cart {
  
  display: none;
  z-index: 2;
  bottom: 20px;
  width: 100%;
  height: 50px;
  font-size: 25px;
  border-radius: 40px;
  margin: 0 auto;
}
#cart {
  display: none;
  
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color1);
  padding: 50px 0px 0px 0px;
}
#cart-list{
     max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
}

.items {
  white-space: no-wrap;
  background-color: rgb(3, 0, 0);
  font-size: large;
  display: flex;
  justify-content: space-between;
  padding: 3px 50px;
  border-radius: 25px;
  margin: 0 0 10px 0;
  
}
.item-name{
 background-color: none;
 color: white;
 font-weight: bolder;
 font-size: larger;
}
.item-cost{
    color: white;
    font-size: large;
}
.item-cost button{
    background-color: var(--secondary-color1);
    color: white;
    padding: 7px;
    font-size: larger;
    border-radius: 30px;
}
.delete-item{
    font-size: 25px;
    padding: 1px;
    border-radius: 50px;
}

.items span {
 padding: 10px;
 border-radius: 10px;
 display: flex;
 align-items: center;
}
#total-items div {
  font-size: larger;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#total-items div span:not(#total){
  background-color: var(--primary-color1);
  color: white;
  font-weight: bolder;
  font-size: large;
  padding: 12px;
  border-radius: 40px;
}
#total{
    padding: 5px;
    font-size: larger;
}
#pay {
    background-color: var(--secondary-color2);
    color: white;
    font-weight: bolder;
  width: 150;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 30px;
}
#pay:active{
    background-color: goldenrod;
}

#pay-div div {
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

#checkout {
  display: none;
}
#total-payment div{
    font-size: larger;
 
  display: flex;
  justify-content: center;

}

#total-payment div span:not(#total-btc){
    background-color: var(--primary-color1);
    color: white;
    font-weight: bolder;
    font-size: large;
    padding: 12px;
    border-radius: 40px;
  }

#total-btc{
    padding: 5px;
    font-size: larger;
}

#payment-method {
  width: 400px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  background-color: bisque;
  display: block;
}
.payment {
  display: none;
  width: 400px;
  padding: 0;
  margin: 0 auto;
}

.payment#no-payment {
  display: block;
  color: white;

  justify-content: center;
  align-items: center;
  height: 400px;
}
#no-payment h2 {
  margin-top: 50%;
  text-align: center;
}
#btc-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
#cashapp-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
#paypal-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.payment-details {
  background-color: var(--primary-color1);
  padding: 10px;
  text-align: center;
  
  color: white;
  font-weight: bold;
}
.dialog-div {
    width: 400px;
    margin: 10px auto;
  display: flex;
  justify-content: center;
}
.dialog-div button {
  
  color: white;
  width: 40%;
  height: 30px;
  font-size: 18px;
  border-radius: 30px;
  margin: 0 15px;
  background-color: var(--secondary-color2);
}

#confirm-btn-btc {
  display: none;
  background-color: var(--primary-color1);
}


#empty-cart {
  color: white;
}
#empty-cart h2 {
  text-align: center;
}
#selected-item {
  margin: 0 auto;
  
  padding-top:40px;
  
  width: 100%;
 
}
#selected-image {
  

  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  
}
#selected {
  position: relative;
  
  width: 400px;
  margin: 0 auto;
  background-color: black;
}
#selected button:not(#back-to-store) {
  position: absolute;
  top: 50%;
  font-size: 40px;
  background-color: transparent;
  border: 0;
}
#next-image {
  right: 0%;
}
#previous-image {
  left: 0%;
}
#item-description {
  padding: 0 10px;
  width: 400px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
#item-description span:not(.promo) {
  font-weight: bolder;
  font-size: 20px;
  background-color: var(--secondary-color1);
  color: white;
  padding: 10px;
  border-radius: 30px;
}
#item-description p {
  
  background-color: var(--secondary-color1);
  color: white;
  
  padding: 15px;
  text-align: center;
}
#item-description div:not(#describe){
  margin: 2px 0 2px 0;
  display: flex;
  justify-content: center;
}
#describe{
    color: white;
    background-color: grey;

}
#describe h4{
    text-align: center;
}

.add-selected {
  width: 100%;
  height: 45px;
  background-color: var(--secondary-color2);
  border-radius: 30px;
  font-size: 20px;
  margin: 0 0 0;
  color: white;
}
#back-to-store {
  position: fixed;
  
   
  
  color: white;
  font-size: 40px;
  padding: 0;
  
  background-color: black;
  border: 0;
}
.not-received{
    display: none;
    font-size: 30px;
    position: fixed;
    margin-top: 40%;
    max-width: 100%;
    z-index: 3;
    color:rgb(169, 55, 16);
    width: 400px;
    height: 40px;
    text-align: center;
}
button:active{
    background-color: goldenrod;
}





